
.information-form{
  background-color: #ffffff;
  padding: 100px 0;
}
.container-label-form{
  margin-bottom: 18px;
}
.form-child-div {
  width: 312px;
  margin: 0 auto;
  border-radius: 4px;
  position: relative;
  padding: 14px 18px;
  display: block;
  border: 1px #ddd solid;
  background-color: #fff;
  }
  .h2-register{
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
.andes-form-control__label {
  padding-left: 2px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 13px;
    color: #111;
    line-height: 19px;
}
.andes-form-control {
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
    display: block;


  }
.andes-form-control__control {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  
}

.input-form-login {
  font-family: inherit;
  background-color: #fff;
  height: 28px;
  padding: 3px 7px;
  width: 100%;
  line-height: normal;
  /* border: 1px #ddd solid; */
   border: 1px solid #a6a6a6; 
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
  outline: 0;}
  .input-form-login:focus{
    -webkit-box-shadow: 1px 0px 9px 1px #FF883B; 
box-shadow: 1px 0px 9px 1px #FF883B;
  }
  .p-password{
    margin-bottom: 0;
    text-align: left;
    font-size: 11px;
    line-height: 15px;
    color: black;
    font-family: arial;
    margin-top: 3px;
    display: flex;
  }
  .icon-login-info{
    color: #3483fa;
    font-style: italic;
    font-family: auto;
    padding-right: 4px;
    font-size: 13px;
  }
.errors-form-control{
  border-color: #d00;
  box-shadow: 0 0 0 3px rgb(221 0 0 / 10%) inset;
}

 .btn-address{
  display: flex;
  height: 3em;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  background: #f3c552;
 }
 .btn-address:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(.5px);
 }
 .container-text-bottom-login{
  font-size: 12px;
  display: flex;
  margin-top: 20px;
  font-family: arial;
  height: 49px;
    margin-bottom: -37px;
    z-index: 0;
    zoom: 1;
    padding-top: 17px;
    background: linear-gradient(to bottom,#e9e9e985,rgb(255 255 255),3px,#ffffff00);
 }
 .link-login{
  text-decoration: none;
  color: #0066c0;
  padding-left: 4px;
 }
 .errors-form{
  color: #d00;
  font-size: 12px;
  }
 @media screen and (max-width: 600px) {
  .information-form{
    padding: 10px 0;
  }
  .form-child-div{
    width: 265px;
  }
  .h2-register{
    font-size: 20px;
  }
  .andes-form-control__label{
    font-size: 14px;
  }
  .container-label-form {
    margin-bottom: 25px;
  }
  .input-form-login {
    height: 36px; 
  }
 }