.main-container-error{

}
.error-container{
max-width: 500px;
    background: white;
    padding: 20px 25px;
    margin: 18vh auto;
    border-radius: 10px;
}
.info-error-order{

}
.image-title{

}
.img-container{

}
.info-container{
text-align: center;
    font-size: 18px;
}
.p-info-error-order{

}
.buttons-error-info{
    display: flex;
    justify-content: space-around;
}
.btn-error{
border: 1px solid #dadada;
color: black;
    background: #ffffff;
    height: 45px;
    margin: 0px 9px;
    border-radius: 7px;
    font-size: 18px;
    width: 176px;
}
.btn-error-ok{
    color: white;
    background: #e04f5f;
}