.container-home {
  background: #151e1f;
  color: aliceblue;
  max-width: 1600px;
  margin: 0 auto;
}
.principal-title {
  text-align: center;
  font-size: 30px;
  width: 100%;
  font-weight: 700;
  margin-bottom: 0;
}
.title-secondary {
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin: 0;
  font-weight: 100 !important;
}
