.Not-found {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
}
.Not-found__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo {
  font-weight: 800;
  letter-spacing: 10px;
}
.img_error {
  height: 348px;
}
.btn.btn-primary {
  color: #000;
}
