.main-container {
  margin: 0px 0;
}
.main-title {
  text-align: center;
  margin: 20px 0;
  font-size: 32px;
}
.fila-centrada {
  border-radius: 12px;
}
.img-container {
  background: var(--white-color);
  flex: 2 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  max-width: 100%;
}
.container {
}
.container-midle {
  margin: 50px 0;
  padding: 10px;
  background: #202020;
  color: #e8e6e3;
}
.secondary-title {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 30px;
}
.parrafo-servicios {
  font-size: 21px;
  line-height: 1.4;
  letter-spacing: 0.06px;
  margin-bottom: 70px;
}
.tite-services {
  margin: 36px 0;
  color: rgba(79 166 255);
  font-size: 50px;
  line-height: 1.07143;
  font-weight: 600;
  text-align: initial;
}
.paragraph-midle {
}
