.line1 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
}
.line2 {
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 600;
  letter-spacing: 0.012em;
  margin-top: 26.8px;
}
.card-image {
  background-image: url(https://www.apple.com/v/environment/m/images/overview/power__gehqvcdp1yuu_medium_2x.png);
  width: 117px;
  height: 216px;
  background-size: 117px 216px;
  background-repeat: no-repeat;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 50px 30px;
  background: #1d1d1f;
  border-radius: 20px;
  text-align: center;
  color: #f2f2f2;
  margin: 10px 0;
}
.container-card {
  display: grid;
  max-width: 1129px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
@media screen and (min-width: 870px) {
  .line1 {
    font-size: 64px;
  }
  .line2 {
    max-width: 373px;
  }
  .card-image {
    margin: 22px 0;
  }
}
@media screen and (min-width: 670px) {
  .container-card {
    grid-template-columns: 1fr 1fr;
  }
}
