.hero-shopping-cart {
  width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "a"
        "b";
}
.secondary-title {
  margin-bottom: 15px;
  font-size: 21px;
  margin-left: 20px;
}
@media screen and (min-width: 785px) {
  .hero-shopping-cart {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
  }
  .secondary-title {
    margin-bottom: 15px;
    font-size: 27px;
  }
}
