.orders{
padding: 0 20px;
}
.orders-title{
    text-align: center;
    font-weight: 500;
}
.orders-secondary-title{
    COLOR: #525252;
    font-weight: 500;
    margin-right: 25px;
}
.container-order{
    margin: 12px 0;
    padding: 40px 92px;
    margin-top: 0;
    padding-top: 0;}
.container-p-date-order{
    padding-left: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-weight: 600;
    font-size: 12px;
}
.p-date-item-order{
margin: 12px 0;
}
.img-container-shopping-car img{
    width: 100%;
}

.item-order{
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    filter: drop-shadow(0 0 1px rgba(0,0,0,.12));
    border: 0.5px solid #ffff;
    border-radius: 8px;
    margin: 20px 0;
}
.info-order{
    padding: 15px;
    font-size: 13px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    align-items: center;
}
.text-info-order{
    padding-left: 20px;
}
.text-info-order p{
    text-transform: capitalize;
}
.status-order{
    margin-top: 0;
    margin-bottom: 6px;
    display: grid;
    max-width: none;
}
.delivery-order-date{
font-weight: 600;
margin: 0;
}
.total-order{
    margin: 0;
    margin-top: 6px;
}
.products-order{
    color: #7a7a7a;
    font-size: 12px;
    margin: 16px 0 0;
}
.secondary-info-order{
    text-align: end;
}
.btn-close-session{

}