.container-address {
  margin: 10px;
}
.address-contrainer-info {
  border-radius: 4px;
  background: #d0d0d0;
  padding: 25px 32px;
  align-items: center;
  font-size: 13px;
  padding-left: 20px;
}
.cart-address-info {
  font-size: 16px;
}
.cart-address-subtitle-info {
  display: none;
}
.address{
  display: flex;
  align-items: center;
}
.address > svg{
  margin-right: 5px;
  font-size: 25px;

}
.modify {
  text-decoration: none;
  color: #3391ff;
  font-size: 12px;
  margin-left: 35px;
}
@media screen and (min-width: 780px) {
  .container-address {
    margin-left: 20px;
  }
  .address-contrainer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cart-address-subtitle-info {
    margin: 0;
    display: block;
  }

}
