.container-address {
  margin: 12px;
}

.address-contrainer-info {
  background: #d0d0d0;
  padding: 16px 32px;
  align-items: center;
  font-size: 13px;
 border-radius: 4px;
}
.cart-address-info {
  margin-bottom: 8px;
}
.cart-address-subtitle-info {
  display: none;
}

.modify {
  text-decoration: none;
  color: #3391ff;
}
@media screen and (min-width: 785px) {
  .container-address {
    
    margin-left: 20px;
  }
  .address-contrainer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  .cart-address-subtitle-info {
    margin: 0;
    display: block;
  }
}
