.container-address {
  /* width: calc(100% - 250px); */
  margin-left: 20px;
}
.title-container {
}
.addresscambiar {
  background: #d0d0d0;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  align-items: center;
  /* box-shadow: 0 2px 13px -4px #000000; */
}
.address {
}
.cart-address-info {
  margin: 0;
}
.cart-address-subtitle-info {
  margin: 0;
}
.modify-address {
}
.modify {
  text-decoration: none;
  color: #3391ff;
}
