.categories-title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .carousel {
  }
  .carousel-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
  .line-indicator-products {
    width: 30%;
    height: 2px;
    border-width: 0;
    background: #eeeeee;
  }
  @media screen and (min-width: 785px) {
    .line-indicator-products {
      width: 46%;
    }
    .carousel-container {
      justify-content: center;
    }
  }