.container-footer {
  background: rgb(255 255 255);
  border-top: 1px solid rgb(119 119 119);
  text-transform: uppercase;
  color: rgb(0 0 0);
  text-align: center;
  font-size: 12px;
}
.footer-options {
  display: flex;
  justify-content: space-between;
  padding: 0px 6px;
}
.container-footer a {
  font-size: 20.5px;
  margin: 7px 0px;
  text-transform: lowercase;
  text-decoration: none;
}
.container-footer-options {
  font-size: 7px;
}
.indicator-line {
  margin: 0;
}
