.container-footer {
  background: rgb(255 255 255);
  color: rgb(58, 58, 58);
}
.footer-options {
  display: flex;
  justify-content: space-between;
  padding: 0px 6px;
  text-transform: capitalize;
}
.container-footer a {
  font-size: 15px;
  margin: 8px 0px;
  text-transform: lowercase;
  text-decoration: none;
  color: rgb(58, 58, 58);
  display: none;
}
@media screen and (min-width: 768px) {
  .container-footer {
  }
  .plus-button {
    display: none;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 15px;
  }
  .container-footer-options {
    display: grid;
  }
  .container-footer a {
    text-transform: capitalize;
    display: block;
  }
  .footer-options {
    display: block;
    font-size: 8px;
  }
  .container-footer a:hover {
    color: rgb(107, 107, 107);
  }
  .p-contact {
    display: block;
    font-size: 13px;
  }
}
