.container-footer {
  background: rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(225, 225, 225, 0.5);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.container-footer a {
  font-size: 20.5px;
  margin: 7px 0px;
  text-transform: lowercase;
  text-decoration: none;
}
.footer-options {
  display: grid;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.indicator-line {
}
