.header {
  display: flex;
  padding: 10px;
  background-color: rgb(37, 37, 37);
  height: 40px;
  align-items: center;
  color: #f7f7f7;
}
.container-logo {
  height: 109px;
  position: relative;
  right: 21px;
  width: 65px;
}
.logo {
  width: 100px;
  text-decoration: none;
}
.container-options {
  display: grid;
  font-size: 12px;
  width: 100%;
  justify-content: start;
  grid-template-columns: 1fr 1fr;

}
.icon-header {
  padding-right: 5px;
}
.container-social-network {
  display: none;
}

@media screen and (min-width: 870px) {
  .container-logo {
    min-width: 50px;
    margin: 0px 20px;
    padding: 0px 5px;
    text-align: inherit;
  }
  .logo {
    text-decoration: none;
    font-size: 20px;
  }
  .container-shopping-cart {
    display: none;
  }
  .container-options {
    display: flex;
    justify-content: center;
  }
  .options {
    margin: 0px 20px;
    text-decoration: none;
  }
  .options:hover {
    color: rgb(141, 141, 141);
  }
  .container-social-network {
    min-width: 50px;
    display: flex;
    margin: 0px 20px;
    padding: 0px 5px;
  }
  .social-network {
    margin: 0px 4px;
  }
  .social-network:hover {
    color: rgb(141, 141, 141);
  }
  .carro_compras_responsive {
    display: none;
  }
}