.header {
  display: flex;
  padding: 10px 0;
  background-color: #000000cc;
  height: 45px;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}
.header a {
  color: rgb(212, 212, 212);
  text-decoration: none;
  text-align: center;
}
.header a:hover {
  transition: all 0.2s ease-in;
  filter: drop-shadow(rgb(255, 255, 255) 0 0 1px);
  color: #fff;
}
.container-logo {
    position: relative;
    top: 2px;
}
.logo {
  width: 70px;
  text-decoration: none;
}
.container-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 21px;
  font-size: 12.5px;
  width: 100%;
  font-weight: 600;
  justify-content: start;
}

.container-shopping-cart {
  width: 20%;
  display: flex;
  align-items: center;
  margin-right: 5px;
  justify-content: space-between;
  flex-direction: column;
}
.name-user{
  font-size: 10px;
}
.shopping-cart {
  display: flex;
  align-items: center;
}
.shopping-cart-icon {
  font-size: 35px;
}
.shopping-cart-length {
  color: #ffdd00;
  font-weight: 700;
  position: relative;
  right: 18px;
  font-size: 12.5px;
  bottom: 2px;
}
.btn-login-header{
    display: none;
}
.btn-login-header:hover{
    transition: all 0.2s ease-in;
    filter: drop-shadow(rgb(255, 255, 255) 0 0 1px);
    color: rgb(255, 255, 255);
}


@media screen and (min-width: 768px) {
  
  .header{
    height: 20px;
    margin: 0;
    padding: 10px 20px;
  }
  .container-logo {
    text-align: inherit;
    top: 14px;
    width: 30%;
  }
 .logo {
  width: 80px;
}
  .container-options {
    display: flex;
    justify-content: center;
  }
  .options {
    padding: 0px 20px;
    text-decoration: none;
  }
  .container-shopping-cart{
        width: 30%;
        flex-direction: row;
  }
  .name-user{
    width:100%;
    font-size: 15px;
  }
  .btn-login-header{
    font-size: 15px;
    display: block;

  }
}
