.header {
  display: flex;
  padding: 10px;
  background-color: rgb(37, 37, 37);
  /* height: 30px; */
  /* align-items: center; */
}
.container-button-hamburger {
  cursor: pointer;
  display: block;
  flex: 1 1 auto;
  line-height: 22px;
  font-size: 18px;
  user-select: none;
}
.container-logo {
  text-align: center;
  flex: 6 1 auto;
}
.logo {
  width: 90px;
  text-decoration: none;
}
.container-options {
  display: none;
}
.container-social-network {
  display: none;
}

@media screen and (min-width: 785px) {
  .header {
    padding: 20px;
    background-color: rgb(29, 29, 29);
    flex-flow: row nowrap;
  }
  .container-button-hamburger {
    display: none;
  }
  .container-logo {
    flex: 1 1 auto;
    margin: 0px 20px;
    padding: 0px 5px;
    text-align: inherit;
  }
  .logo {
    text-decoration: none;
    font-size: 20px;
  }
  .logo:hover {
    color: rgb(141, 141, 141);
  }
  .container-shopping-cart {
    display: none;
  }
  .container-options {
    flex: 6 1 auto;
    display: block;
  }
  .options {
    margin: 0px 15px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;
  }
  .options:hover {
    color: rgb(141, 141, 141);
  }
  .icon-header {
    margin-right: 2px;
  }
  .container-social-network {
    display: block;
    font-size: 15px;
    margin: 0px 20px;
    padding: 0px 5px;
  }
  .social-network {
    margin: 0px 4px;
  }
  .social-network:hover {
    color: rgb(141, 141, 141);
  }
  .carro_compras_responsive {
    display: none;
  }
}
