.hero-nosotros {
  max-width: 415px;
}
.contaner-img-nosotros {
  position: absolute;
  max-width: 415px;
}
.img-nosotros {
  width: 100%;
}
.text-nosotros {
  position: relative;
  padding: 15px 10px 100px 15px;
  border-radius: 10px;
}
.title-container-hero-nosotros {
  margin-bottom: 80px;
}
.title-hero-nosotros {
  font-size: 30pt;
  margin: 0;
  line-height: 50px;
}
.text-container-nosotros {
  margin-top: 35px;
  line-height: 28px;
  font-size: 15px;
}
.icon-container {
  display: none;
}
@media screen and (min-width: 870px) {
  .x {
    background: #cfcfcf;
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .hero-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1440px;
  }
  .contaner-img-nosotros {
    position: inherit;
    max-width: 100%;
  }
  .img-nosotros {
    width: auto;
  }
  .text-nosotros {
    margin-top: 40px;

    background: none;
    position: inherit;
  }
  .title-container-hero-nosotros {
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  .title-hero-nosotros {
    font-weight: 600;
    margin: 15px 0;
    font-size: 37pt;
    position: relative;
    right: 100px;
    font-family: "Lato", sans-serif;
  }
  .text-container {
    font-size: 16px;
    line-height: 30px;
  }
  .icon-container {
    color: rgb(94, 94, 94);
    display: block;
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
  }
}
