hr {
  margin: 7px -1px;
  border: none;
  padding: 1px;
  background: #080707;
}
.HeroServicios {
  max-width: 415px;
  margin-bottom: 80px;
}
.contaner-img-Servicios {
}
.img-Servicios {
  width: 100%;
}
.text-servicios {
  color: #cecece;
}
.title-container-hero-Servicios {
  margin: 0;
}
.title-hero-Servicios {
  font-size: 30pt;
  margin: 0;
  line-height: 50px;
}
.text-container-Servicios {
  line-height: 28px;
  font-size: 15px;
}
.icon-container {
  display: none;
}
@media screen and (min-width: 870px) {
  .HeroServicios {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1540px;
  }
  .contaner-img-Servicios {
    position: inherit;
    max-width: 100%;
  }
  .img-Servicios {
    width: 100%;
  }
  .text-servicios {
    color: #1d1d1d;
  }
  .title-container-hero-Servicios {
    letter-spacing: 2px;
  }
  .title-hero-Servicios {
    margin: 15px 0;
    font-size: 35pt;
    font-family: "Lato", sans-serif;
  }
  .text-container {
    font-size: 16px;
    line-height: 30px;
    max-width: 650px;
  }
}
