.hero-nosotros {
  max-width: 415px;
}
.contaner-img-nosotros {
  position: absolute;
  max-width: 415px;
}
.img-nosotros {
  width: 100%;
}
.text-nosotros {
  position: relative;
  padding: 15px 10px 100px 15px;
  color: #fff;
}
.title-container-hero-nosotros {
  margin-bottom: 80px;
}
.title-hero-nosotros {
  font-size: 30pt;
  margin: 0;
  line-height: 50px;
}
.text-container-nosotros {
  margin-top: 35px;
  line-height: 28px;
  font-size: 18px;
}
.icon-container {
  display: none;
}

@media screen and (min-width: 870px) {
  .x {
    background: #071819;
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .hero-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1440px;
    background: #071819;
  }
  .contaner-img-nosotros {
    position: inherit;
    max-width: 100%;
  }
  .img-nosotros {
    width: auto;
  }
  .text-nosotros {
  font-size: 15px;
  margin-top: 40px;
  color: rgb(233, 231, 227);
  background: none;
  position: inherit;
  }
  .text-container-nosotros{
  line-height: 1.7;
    margin-bottom: 25px;
    font-size: 13px;
}
  .title-container-hero-nosotros {
    letter-spacing: 2px;
    margin-bottom: 70px;
  }
  .title-hero-nosotros {
    font-weight: 600;
    margin: 15px 0;
    font-size: 40pt;
    position: relative;
    right: 100px;
    font-family: "Lato", sans-serif;
  }
  .text-container {
    font-size: 17px;
    line-height: 30px;
    max-width: 700px;
  }
  .icon-container {
    color: rgb(243 190 19);
        display: block;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
  }
}
