.HeroServicios {
  max-width: 415px;
}
.contaner-img-servicios {
  max-width: 415px;
}
.img-servicios {
  width: 100%;
}
.title-container-hero-servicios {
  display: flex;
  flex-flow: column;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-top: 15px;
}
.secondary-title {
  margin-top: 0;
}
@media screen and (min-width: 870px) {
  .HeroServicios {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1340px;
    margin: 15px 0;
  }
  .contaner-img-servicios {
    padding: 15px 20px 0px 20px;
    position: inherit;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-servicios {
    padding: 70px 20px 0px 20px;
  }
  .title {
    line-height: 20px;
    color: #c60808;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  .secondary-title {
    text-transform: capitalize;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    color: #060606;
  }
  .text-container {
    text-align: initial;
  }
}
