.HeroServicios {
  max-width: 415px;
}
.contaner-img-Servicios {
}
.img-Servicios {
  width: 100%;
}
.text-Servicios {
  color: #e8e6e3;
  position: relative;
  background: #0000007d;
  padding: 15px 10px 70px 15px;
  box-sizing: border-box;
  position: absolute;
  max-width: 415px;
  /* max-height: ; */
}
.title-container-hero-Servicios {
  margin-bottom: 80px;
}
.title-hero-Servicios {
  font-size: 30pt;
  margin: 0;
  line-height: 50px;
}
.text-container-Servicios {
  margin-top: 35px;
  line-height: 28px;
  font-size: 15px;
}
.icon-container {
  display: none;
}
@media screen and (min-width: 870px) {
  .HeroServicios {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1340px;
  }
  .contaner-img-Servicios {
    position: inherit;
    max-width: 100%;
  }
  .img-Servicios {
    width: 100%;
  }
  .text-Servicios {
    margin-top: 40px;
    color: #060606;
    background: none;
    position: inherit;
    max-width: none;
    padding: 15px 10px 100px 40px;
  }
  .title-container-hero-Servicios {
    letter-spacing: 2px;
    margin-bottom: 60px;
  }
  .title-hero-Servicios {
    margin: 15px 0;
    font-size: 35pt;
    font-family: "Lato", sans-serif;
  }
  .text-container {
    font-size: 16px;
    line-height: 30px;
    color: #060606;
    margin-left: 60px;
    max-width: 650px;
  }
}
