.c {
}
.principal-product {
  display: flex;
  margin: 0px 10px;
  padding: 10px 0px;
  border-top: #7e7e7e 1px solid;
}
.img-container-shopping-car {
  width: 200px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
}
.img {
  width: 100%;
  border-radius: 7px;
}
.container-inf-product {
  margin-left: 15px;
}
.p-item {
  margin: 15px 0px;
}
.name-product {
  margin: 0;
}
.kilo-value {
}
.container-buttons {
}
.total-price {
  flex: 1 1 auto;
  text-align: end;
}
.values-product {
  display: none;
}
.price {
}
.btn-delete {
  color: rgb(231, 24, 24);
  font-size: 14px;
  cursor: pointer;
}
.values-product-small {
  display: flex;
  font-size: 17px;
  align-items: center;
  margin-bottom: 12px;
}
.price-cart-shopping-small {
  color: #930202;
  font-size: 17px;
  margin-left: 5px;
}
@media screen and (min-width: 500px) {
  .values-product-small {
    display: none;
  }
  .values-product {
    display: block;
  }
}
