.principal-product {
     display: grid;
    margin: 15px 10px;
    padding: 15px 0 30px 0;
    border-bottom: #7e7e7e 1px solid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}
.img-container-shopping-car {
  width: 200px;
  border-radius: 7px;
}
.img {
  width: 95%;
  border-radius: 4px;
}
.container-inf-product {
  margin-left: 15px;

}
.p-item {
  margin: 15px 0px;
  font-size: 12px;
}
.container-inf-product-title {
  display: flex;
  align-items: center;
}
.name-product {
  color: #1f1f1f;
  font-size: 22px;
  margin-right: 5px;
}
.title-product-measues{
  font-size: 12px;
}
.kilo-value {
  font-size: 12px;
}
.total-price {
  text-align: end;
}

.price-shopping-cart {
  font-size: 22px;
  font-family: Arial;
}
.btn-delete {
  color: #3483fa;
  font-size: 14px;
  cursor: pointer;
  border:none;
  margin-top: 25px;
  padding: 0;
  background: none;
}
.values-product-small {
  display: flex;
  font-size: 17px;
  align-items: center;
  margin-bottom: 12px;
}
.price-cart-shopping-small {
  color: #930202;
  font-size: 17px;
  margin-left: 5px;
}
.container-buttons-shoping-cart{
  display: flex;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  align-items: center;
  margin: auto;
}

.container-counter-shoping-cart{
    width: 19px;
    text-align: center;
    border-style: groove;
    border: none;
    margin: 4px 0px;
    padding: 5px;
    font-size: 13px;

}
.bt-shopping-cart{
  color: #000;
  font-size: 12px;
}

@media screen and (max-width: 870px) {
  .principal-product {
    display: grid;
    margin: 15px 0px;
    padding: 15px 0 15px 0;
    grid-template-areas:
        "a b"
        "c d"
        "e e";
    justify-items: center;
    align-items: center;
    gap: 15px 0px;
    grid-template-columns: none;
  }
  .img-container-shopping-car{
    border-radius: 7px;
  }
  .name-product {
    font-size: 14px;
    font-weight: 400;
  }
  .kilo-value{
    color: #7e7e7e;
    font-size: 9px;
  }
  .container-inf-product {
  margin-left: 0;
  width:80%;
}
.p-item {
  margin: 5px 0px;
  font-size: 9px;
    color: #7e7e7e;
}
.title-product-measues {
    font-size: 12px;
}
.values-product {
  display: block;
}
.container-buttons-shoping-cart {
    display: grid;
    border: 1px solid #BFBFBF;
    border-radius: 9px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100px;
    height: 35px;
}
.bt-shopping-cart{
    color: #000;
}
.total-price{    grid-area: d;}
.price-shopping-cart{
      font-size: 22px;
    font-family: Arial;
}
}

@media screen and (max-width: 500px) {
  .img-container-shopping-car{
    width: 100px;
  }
}
