.container-main-servicios {
  background: #fff;
  justify-items: center;
  padding: 100px 0;
  width: 100%;
}
.main-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;
}
.data-servicios {
  width: 100%;
    text-align: center;
    background-color: var(--mainWhite);
    border-bottom-width: 40px;
}
.module-content{
  padding: 25px 0;
}
.unit-wrapper {
  height: 480px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
.texto-module-main-servicios {
  z-index: 4;
}
.headline {
  color: #1d1d1f;
  margin: 10px 0;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.002em;
}
.subhead {
  margin: 0;
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0.012em;
}
.avail {
  color: #86868b;
  text-align: center;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
}
.unit-image {
    width: 480px;
    height: 305px;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    left: calc(50% + 0px);
    right: auto;
    bottom: 0px;
    top: auto;
    transform: translatex(-50%);
    border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .main-servicios{
    grid-template-columns: repeat(1, 1fr);
  }
  .unit-image{
    width: 400px;
    height: 250px;
  }
  .unit-wrapper{
    height: 400px;
  }
}