nav {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px;
}
.search {
  flex: 10 1 auto;
}
.container-serch {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-serch input#search {
  background-color: #ffffff;
  color: #5e5e5e;
  width: 95%;
  height: 30px;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 45px;
  border-radius: 7px;
  outline: none;
  font-weight: 600;
}
.container-serch .icon {
  position: absolute;
  margin-left: 17px;
  margin-top: 7px;
  z-index: 1;
  color: #5e5e5e;
  font-size: 19px;
}
.title {
  margin: 25px 0;
}

@media screen and (max-width: 870px) {
  .container-shopping-cart-nav {
    display: none;
  }
  .container-serch input#search {
    width: 80%;
    border-radius: 7px;
  }
}
