.account {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;

}
.costo-envio-gratis{
  color: #32b767;
}

.btn-payment {
  margin-top: 20px;
  width: 100%;
  background: #dfc626;
  border: 0;
  height: 35px;
  color: #000000;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.btn-payment:hover {
  background: #d1ba24;
}
.container-payment {
  padding: 20px;
  border-radius: 4px;
  background: #ffffff;
}
@media screen and (min-width: 1000px) {
  .container-payment {
    padding: 35px;
  }
}
