.popup-login{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
    background: linear-gradient( 
0deg
 , rgb(175 175 175 / 70%) 0%, #1212122e 52%, rgb(174 174 175 / 67%) 100%);
display: flex;
justify-content: center;
align-items: center;

}
.popup-login-content{
position: relative;
    padding: 32px 32px;
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 14px -2px #7a7a7a;
}
.close-popup{display: flex;
    justify-content: flex-end;
height: 20px;    
}
    .close-popup-login{
     border: none;
    background: none;

    }
    .close-popup-login:hover{
        cursor: pointer;
        color: rgb(196, 61, 61);
    }
    .label-login{
        font-size: 14px;
        font-weight: bold;
        color: #000;
        margin-bottom: 10px;
    }
    .form-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px 0;
    }
.link-reset-password{
   margin-top: 20px;
}
.reset-password{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}
.reset-password:hover{
       text-decoration: underline;
}
.btn-login{
    height: 39px;
    width: 100%;
    color: white;
    border: 1px solid #3391ff;
    background: #1977f2;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
.btn-login:hover{
    border: 1px solid #278cff;
    background: #206cde;
}
.btn-register{
    color: #323232;
    border: none;
    padding: 15px 20px;
    height: 35px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 40%;
    display: flex;
    background-color: #ffd712;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
.btn-register:hover{
    transition: all 0.1s;
    background-color: #F7CA00;
}
.btn-new-acount{
    background-color: #42b729;
    color: #fff8f8;
    border: none;
    padding: 15px 20px;
    height: 40px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
.btn-new-acount:hover{
    background-color: #389c21;

}
.link-signup{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 870px) {
    .popup-login-content{
            max-width: 320px;
            padding: 32px 20px;
        }
        .btn-login{
            font-size: 17px;
            height: 40px;
            line-height: 40px;
            width: 90%;
        }
        .btn-new-acount{
            width: 60%;
            text-shadow: 0 -1px rgb(0 0 0 / 25%);
        }
        .title-popUp{
            font-size: 20px;
        }

  }
  @media screen and (max-width: 440px) {
    .popup-login-content{
        max-width: 270px;
        padding: 10px 10px;
        border-radius: 3px;
    }
    .btn-new-acount{
        width: 70%;
    }
    .title-popUp{
        margin: 10px 0;
    }
  }
  