.popup-login{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
    background: linear-gradient( 
0deg
 , rgb(175 175 175 / 70%) 0%, #1212122e 52%, rgb(174 174 175 / 67%) 100%);
display: flex;
justify-content: center;
align-items: center;

}
.popup-login-content{
position: relative;
    padding: 32px 32px;
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 14px -2px #7a7a7a;
}
.close-popup{display: flex;
    justify-content: flex-end;
height: 20px;    
}
    .close-popup-login{
     border: none;
    background: none;

    }
    .close-popup-login:hover{
        cursor: pointer;
        color: rgb(196, 61, 61);
    }
    .label-login{
        font-size: 14px;
        font-weight: bold;
        color: #000;
        margin-bottom: 10px;
    }
    .form-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px 0;
    }
.link-reset-password{
   margin-top: 20px;
}
.reset-password{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}
.reset-password:hover{
       text-decoration: underline;
}
.btn-login{
    height: 39px;
    width: 100%;
    color: white;
    border: 1px solid #3391ff;
    background: #1977f2;
    border-radius: 4px;
    font-weight: bold;
}
.btn-login:hover{
    border: 1px solid #278cff;
    background: #247bff;
}
.btn-register{
    color: #fff ;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    background-color: #ffd712;
}
.btn-register:hover{
    background-color: #F7CA00;
}
.btn-primary{
    background-color: #42b729;
}
.btn-primary:hover{
    background-color: #389c21;

}
.link-signup{
    width: 100%;
    display: flex;
    justify-content: center;
}