.btn-shop {
  width: 98%;
  background: #820000;
  border: 0;
  height: 35px;
  color: #d4d4d4;
  border-radius: 2px;
  font-family: "Montserrat";
  font-weight: 600;
}
.btn-shop:hover {
  background: #6e0101;
}

  .description {
    padding: 10px;
  }
  .articulo {
    display: block;
    background: #040608;
    padding: 0px;
    width: 270px;
    margin: 18px 8px;
    border-radius: 10px;
        color: #d0d0d0;
  }

  .presentation-container {
    display: none;
  }
  .img-container {
    display: flex;
    justify-content: center;
  }
  .img-product {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;
    margin: 0px 0px;
  }
  .name-product_ {
  text-align: center;
    font-size: 22px;
    color: #f3f3f3;
    margin: 16.5px 0;
    min-height: 55px;
  }
  .product-weight {
    display: flex;
    margin: 12px 0;
    justify-content: space-between;
    color: white;
    font-size: 12.5px;
    font-weight: 600;
  }
  .product-quantity {
    margin: 0;
  }
  .presentation-container {
    text-align: end;
    margin: 5px 15px 5px 0;
    font-size: 10px;
  }
  .presentation-paragraph {
    margin: 0;
  }
  .presentation-product{
    margin-bottom: 0;
  }
  .container-valor-kilo{
    display: flex;
    font-size: 11px;
    color: #b4b4b4;
  }
  .content-purchase {
    padding: 1px;
  }
  .price-container {
    text-align: end;
    position: relative;
    margin: 5px 4px;
  }
  .price {
    font-size: 23px;
    font-weight: 400;
    margin: 16px 0;
  }
  .preparation-container {
    display: block;
    font-size: 12px;
  }
  .container-buttons {
    display: flex;
  }
  .container-counter {
   width: 30px;
    text-align: center;
    border-style: groove;
    border: 1px groove #bebebe;
    margin: 4px 0px;
    padding: 5px;
    font-size: 14px;
    color: white;
    border-radius: 2px;
  }
  .counter-quantity-products {
    margin: 0;
  }
  .bt-menos:active{
    transition: all 0.1s ease-in;
    background: #c76868;
    color: #d4d4d4;
  }
  .bt-mas:active{
  transition: all 0.01s ease-in;
    background: #c76868;
    color: #d4d4d4;
  }
  .btn-shop:active {
    transition: all 0.01s ease-in;
  background: #5a0000;
  }
  .bt-menos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin: 4px 5px;
    background: #ffffff4f;
    border-radius: 2px;
    border: none; 
    cursor: pointer;
    font-size: 17px;
    color: rgb(255, 255, 255);
  }
  .bt-menos:hover {
  transition: all 0.2s ease-in;
  font-weight: 900;
  filter: drop-shadow(#ffffffb4 0 0 1px);
  }

  .bt-mas:hover {
  transition: all 0.2s ease-in;
  filter: drop-shadow(#ffffffb4 0 0 1px);
  font-weight: 900;
  } 
  .bt-mas {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin: 4px 5px;
    background: #ffffff4f;
    border-radius: 2px;
    border: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
  }
  .btn-shop {
    margin: 6px 0px 2px 2px;
  }
  @media screen and (max-width: 768px) {
   .bt-shopping-cart{
     background: white;
   }
     .articulo {
      max-width: 160px;
      margin: 18px 3px;
          color: #d0d0d0;           
  }
  .img-container{
        width: 100%;
  }
  .description{
    padding: 10px 5px;
  }
  .name-product_ {
    font-size: 14px;
    min-height: 35px;}
.product-weight {
  font-size: 8.5px;
}
.preparation-container {
  font-size: 8px;
}
.price {
  font-size: 15px;
}
  .container-buttons{
    margin: 7px 0px;
  }
  .container-counter {
    width: 13px;
    text-align: center;
    border-style: groove;
    border: 1px groove #bebebe;
    margin: 4px 0px;
    padding: 5px;
    font-size: 10px;
}
  .btn-shop{
        margin: 10px 0px 5px 0px;

      font-size: 10px;
  }
  }