.categories-title-container {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.list-container {
  max-width: 1500px;
}
.container-products {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 10px;
  justify-content: center;
}
.container-search-not-found{
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 10px;
  justify-content: center;
}
.text-not-found{
  font-size: 22px; 
}
@media screen and (max-width: 768px) {
  .container-products {
  margin: 0px;
}
}