.section-badges {
  width: 100%;
}
.container-badges {
  margin: 100px 0;
  text-align: center;
}
.badges {
  color: #121212;
  display: block;
  margin: 10px 0px;
  padding: 0;
}
.number-badge {
  font-size: 40px;
  color: #ffc400;
  margin-bottom: 15px;
}
.container-img img {
  width: 100%;
}
.stars {
  display: flex;
  align-items: center;
}
.imgs {
  width: 73px;
  position: relative;
  right: 81px;
  top: 136px;
}
.img-reverse {
  width: 73px;
  position: relative;
  left: 82px;
  bottom: 79px;
  transform: scaleX(-1);
}

@media screen and (min-width: 785px) {
  .badges {
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
  }
}
