.section-badges {
  width: 100%;
  padding: 100px 0 200px 0;
      background: black;
    color: white;
}
.container-badges {
  text-align: center;
}
.sub-title-quality-details{
  font-size: 45px;
  margin-bottom: 60px;
}
.badges {
  color: #fffefe;
  display: block;
  margin: 10px 0px;
  padding: 0;
}
.number-badge {
  font-size: 40px;
  color: #ffc400;
  margin-bottom: 15px;
}
.container-img img {
  width: 100%;
}
.stars {
  display: flex;
  align-items: center;
}
.imgs {
  width: 73px;
}
.img-reverse {
  width: 73px;
  transform: scaleX(-1);
}
.badges-item{
display: flex;
}
@media screen and (min-width: 785px) {
  .badges {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
}
