.container-badges {
  margin: 40px 0;
  text-align: center;
}
.badges {
  color: #121212;
  display: flex;
  justify-content: space-between;
}
.badges {
  margin: 100px 60px;
}
.badges-item {
  max-width: 150px;
}
.number-badge {
  font-size: 40px;
  color: #ff9800;
  margin-bottom: 15px;
}
.container-img {
  width: 200px;
}
.container-img img {
  width: 100%;
}
.stars {
  display: flex;
  align-items: center;
}
