.sendDate-container{
background: white;
    margin: 12px 12px 12px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 13px -4px #636363;
}

.sendDate-list-item{
border-bottom: 1px solid #a8a8a8;
}
.sendDate-label{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 0px 10px;
    margin-right: 25px;
    padding: 10px 0 10px 0;
    font-size: 17px;
}
.ui-radio__text-sendDate{
    width: 100%;
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}
.send-data-p-cost{
color: #32b767;
}
@media screen and (max-width: 768px) {
  .sendDate-container{
    margin: 12px 0px 12px 0px;
}
.sendDate-label {
    font-size: 14px;
    margin: 0 10px;
}
.ui-radio-element {
margin: 0 15px;
}
    
}