.shopping-list {
  width: 100%;
}
.secondary-title {
  display: flex;
  font-size: 27px;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 15px;
  margin-right: 15px;
}

.title-price {
  display: none;
}
@media screen and (min-width: 500px) {
  .title-price {
    display: block;
  }
}
