.shopping-list {
  border-radius: 7px;
  background: #fff;
  padding: 10px;
  margin: 12px 12px 69px 20px;
}
.cart-length-title {
  margin-left: 12px;
  font-size: 18px;
}
.empty-cart-button {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.link-home {
  color: black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
@media screen and (min-width: 500px) {
  .title-price {
    display: block;
  }
}
