body {
  /* background: #e2e2e2; */
  background: rgb(38, 37, 39);
  /* background: url(./images/Download\ Vertical\ Black\ Wood\ Beams\ iPhone\ 6\ Plus\ HD\ Wallpaper\ HD\ free.jpg); */
  background-position: top;
  background-attachment: scroll;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #f7f7f7;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  color: #a8a8a8;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .main-container {
    margin: 0% 0%;
  }
  .secondary-title {
    margin-top: 25px;
  }
}
