body {
  background: #e2e2e2;
  background-position: top;
  background-attachment: scroll;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #f7f7f7;
}
p {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  color: #a8a8a8;
  margin: 0;
}
.main-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 12px 12px;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  font-size: 15px;
  color: #292929;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  margin: 50px;
  padding: 10px;
}
/* fondo  */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.604);
}
/* color bar */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 4px;
}
/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
  box-shadow: 0 0 2px 1px #d0d0d0;
}

@media screen and (min-width: 870px) {
  .secondary-title {
    margin-top: 25px;
  }
  .main-container {
    padding: 0;
  }
}
