body {
  background: #e2e2e2;
  background-position: top;
  background-attachment: scroll;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #f7f7f7;
  text-decoration: none;
}
p {
  margin: 0;
}
code {
}
h2 {
  color: #161616;
  margin: 0;
}
.main-container {
  align-items: center;
  display: flex;
  flex-flow: column;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  font-size: 15px;
  color: #292929;
}
hr{
  margin: 0;
}
.hidden{
  display: none;
}
::-webkit-scrollbar {
  width: 5px;
}
/* fondo  */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
/* color bar */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 4px;
}
/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
  box-shadow: 0 0 2px 1px #d0d0d0;
}
/* loader */
.loanding-container{
 width: 100%;
display: flex;
}
.loanding-container img{
  width: 40%;
  margin: auto;
}


@media screen and (min-width: 870px) {
  .secondary-title {
    margin-top: 25px;
  }
  .main-container {
    padding: 0;
  }

}
@media screen and (max-width: 870px) {
  .loanding-container img{
    width: 100%;
  }
}

